<h1>ToDo Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.title, list %>
      <%= list.items_count %>
    </li>
  <% end %>
</ul>

<%= link_to "Criar lista de tarefas", new_list_path %>